---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-use-concise-preprocessor-directives,
  -modernize-use-trailing-return-type,
  -modernize-raw-string-literal,
  -modernize-avoid-c-arrays,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -misc-non-private-member-variables-in-classes

WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
FormatStyle: file
...
